body {
  margin: 0;
  padding: 0;
  background-color: #2b2b52;
}

table, form {
  background-color: #fff;
  color: #000;
  border-radius: 15px;
}
  .pizzazz-text {
    animation: glow 2s infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de, 0 0 200px #ff00de;
    }
  }

  .highlight {
    color: #ff00de; 
  }
  .navbar {
    border-radius: 15px;
  }
